[build]
builder = "DOCKERFILE"

[deploy]
startCommand = "python python_engine/crypto/main.py"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
